@page "/Registration"
@model SuperProject.Pages.Client.AddModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Регистрация";
}

<form asp-page="/Client/Add" method="post">
    <div>
        <div>
        <span asp-validation-for="@Model.Input.Name"></span>

        </div>
        <label asp-for="@Model.Input.Name"></label>
        <input asp-for="@Model.Input.Name"/>
    </div>

    <div>
        <div><span asp-validation-for="@Model.Input.Password"></span></div>
        <span asp-validation-for="@Model.Input.Password"></span>
        <label asp-for="@Model.Input.Password"></label>
        <input asp-for="@Model.Input.Password"/>
     </div>

    <div>
        <div><span asp-validation-for="@Model.Input.PasswordAgain"></span></div>
        <label asp-for="@Model.Input.PasswordAgain"></label>
        <input asp-for="@Model.Input.PasswordAgain"/>
    </div>

    <div>
        <div><span asp-validation-for="@Model.Input.Country"></span></div>
        <label asp-for="@Model.Input.Country"></label>
        <select asp-items="@Model.SelectCountry" asp-for="@Model.Input.Country"></select>
    </div>
    
    <div>
        <input type="submit" value="Регистрация"/> 
    </div>
</form>
